/* *********** Buttons ***********  */
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.4px;
  padding: 9px 18px;
  box-shadow: none;
  text-decoration: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-outline-primary {
  color: #000;
  border-color: #000;
}

.btn-outline-primary:is(:hover, :focus) {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.btn-light {
  color: #253A36;
  text-decoration: none !important;
}

.btn-secondary {
  background-color: #f0ede2 !important;
  border-color: #F5F4F0 !important;
  color: #000;
}

.btn-secondary:is(:hover, :focus) {
  color: #000;
}

.btn-icon {
  all: unset;
  cursor: pointer;
}

.btn-contact-us {
  text-decoration: underline;
  text-decoration-color: #777;
  text-underline-offset: 6px;
}



/* Pagination  */

.page-link {
  border: 0;
  background-color: transparent;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

.active>.page-link,
.page-link.active {
  background-color: transparent;
  color: #000;
}

.disabled>.page-link,
.page-link.disabled {
  background-color: transparent;
  color: #b8b8b8;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D9D9D9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Form  */

.form-control,
.form-select,
textarea {
  border-radius: 0;
  padding: 10px 20px;
  box-shadow: none;
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0.30);
}

.form-control:focus,
.form-select:focus,
textarea:focus {
  border-color: rgba(0, 0, 0, 0.30);
}



footer .form-control {
  border-color: rgba(255, 255, 255, 0.4);
}

footer .form-control:focus {
  border-color: #fff;
}



.overrelay-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
}